{% style %}
.banner-slider {
  width: 100%;
  height: auto;
  border-radius: 20px;
  --swiper-pagination-color: #fff;
  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-pagination-bullet-size: 12px;
  --swiper-pagination-bullet-horizontal-gap: 6px;
}
.banner-slider .banner-image-slider {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}
.banner-slider .swiper-pagination-bullet-active {
  width: 25px;
  border-radius: 15px;
}
.banner-slider .swiper-pagination-bullet {
  transition: 0.3s ease;
}
{% endstyle %}

{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}

<div class="container g-lg-0">
<div class="swiper banner-slider">
  <div class="swiper-wrapper">
    {% for block in section.blocks %}
      <div class="swiper-slide">
        {% if block.settings.image_link != blank %}
          <a href="{{ block.settings.image_link}}">
        {% endif %}
        <picture>
          <source
            media="(max-width: 500px)"
            srcset="
              {{ block.settings.image_mobile | image_url: width: 380 }} 300w
          ">
          {{ block.settings.image_desk |
            image_url: width: 1800 |
            image_tag:
              widths: '1800',
              sizes: '(min-width: 500px) 1800px',
              class: 'banner-image-slider' }}
        </picture>
        {% if block.settings.image_link != blank %}
          </a>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <div class="swiper-pagination"></div>
</div>
</div>

<script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer="defer"></script>

{% javascript %}
  window.addEventListener('load', function() {
    const swiper = new Swiper('.banner-slider', {
      speed: 400,
      slidesPerView: 1,
      loop: true,
      pagination: {
        el: '.banner-slider .swiper-pagination',
        clickable: true
      }
    });
  });
{% endjavascript %}

{% schema %}
{
  "name": "Banner Slider",
  "max_blocks": 8,
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [


  ],
  "blocks": [    
    {
      "type": "imagem",
      "name": "Slide de Imagem",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_desk",
          "label": "Imagem desk do slide"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Imagem mobile do slide"
        },
        {
          "type": "url",
          "id": "image_link",
          "label": "Link da imagem"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Banner Slider",
      "category": "Imagens"
    }
  ]
}
{% endschema %}